@mixin easeOut($s) {
  transition: $s ease-out;
}
@mixin easeInOut($s) {
  transition: $s ease-in-out;
}
@mixin ease($s) {
  transition: $s ease;
}
@mixin easeIn($s) {
  transition: $s ease-in;
}

@mixin transDelay($s) {
  transition-delay: $s;
}

@mixin shrink{
  background: $white-color;
    .wrapper {
      .toggle {
        .h-line {
          background: $dark-color;
        }
      }
      .search {
        .search-btn {
          color: $dark-color;
        }
      }
    }
    @include easeOut(0.5s);
}
